* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.ordered__Likes {
    background-color: blue;
}

#ordered__Likes__cunning{
    background-color: yellow;
}

.cunning {
    background-color: blueviolet;
}